<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping ERP</title>
    <!-- CSS 등 필요한 리소스 추가 -->
</head>
<body>
<header>
    <nav>
        <!-- 네비게이션 바 -->
        <a href="/">홈</a>
        <a href="/user/login">로그인</a>
    </nav>
</header>
